body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

h1 {
  text-align: center;
  background: #1e1e1e;
  margin: 0;
  padding: 15px;
}

#chat-box {
  height: 80vh;
  overflow-y: auto;
  padding: 10px;
}

.message {
  background: #222;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.input-box {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

input {
  flex: 1;
  padding: 15px;
  border: none;
  font-size: 16px;
}

button {
  padding: 15px;
  border: none;
  background: lime;
  font-size: 16px;
  cursor: pointer;
}
